html, body {
    margin:0px;
    min-height: 100vh;
}

@font-face {
    font-family: doomFont;
    src: url(DooM.ttf);
}

html {
    background-image: url('grunge_background.jpg');
    background-size: cover;
    background-repeat: repeat;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.banner img {
    width: max(60px, 4vw);
    height: max(60px, 4vw);
}

.banner h1 {
    margin: 0px 0px 0px 4px;
    text-align: center;
    font-family: doomFont;
    letter-spacing: 2px;
    color: white;
    font-size: max(60px, 3vw);
}

main {
    flex: 3;
    background-color: white;  
}

main > div {
    padding: 10% 10% 4% 4%;
}

p {
    font-size: large;
    font-weight: 600;
}

.sign-up-form p:nth-child(2) {
    margin-bottom: 10%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    margin: 0px min(5vw, 40px) 24px 0px;
    width: 160px;
}

label {
    font-size: .8rem;
    font-weight: bold;
}

input {
    width: inherit;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    outline: none;
}

input.error {
    border-color: #aa5454;
    border-width: 2px;
    box-shadow: 0px 0px 2px #aa5454;
}

input:focus {
    border-color: #5c9bc2;
    border-width: 2px;
    box-shadow: 0px 0px 2px #5c9bc2;
}

.sign-up-form {
    box-shadow: 0px 4px 3px rgb(177, 177, 177);
}

.create-account p {
    font-size: small;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
      flex-direction: column;
    }

    .banner {
        background-color: rgba(0, 0, 0, 0)
    }
}