html, body {
    margin:0px;
    height:100%;
}

@font-face {
    font-family: doomFont;
    src: url(DooM.ttf);
}

html {
    background-image: url('grunge_background.jpg');
    background-size: cover;
}

body {
    display: flex;
}

.banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 120px;
    height: 120px;    
}

.banner h1 {
    margin: 0px;
    padding: 1rem;
    text-align: center;
    font-family: doomFont;
    font-size: 4rem;
    letter-spacing: 2px;
    color: white;
}

main {
    flex: 2.8;
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-color: white;  
}

p {
    font-size: large;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sign-up-form p:nth-child(2) {
    margin-bottom: 100px;
}

li {
    list-style: none;
}

.sign-up-form {
    box-shadow: 0px 4px 3px rgb(177, 177, 177);
    padding: 100px 100px 20px 20px;
}

.create-account {
    padding: 40px 20px;
}

.create-account p {
    font-size: small;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}